body {
  font-family: Arial, sans-serif;
}

.header {
  background-color: #0a780a; /* Dark green color to signify nature */
  color: white;
}

nav a.nav-link {
  color: #007bff;
}

nav a.nav-link:hover {
  color: #0056b3;
}

.large-img {
  width: 600px;
  height: 500px;
}

footer {
  background-color: #f8f9fa;
  padding: 20px 0;
}

footer h4 {
  margin-bottom: 15px;
}

footer ul li {
  font-size: 1rem;
  color: #007bff;
  margin-bottom: 10px;
}

footer ul li i {
  font-style: normal;
}
